
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: inline-block;
}
button {
    background-color: var(--main);
    border: none;
    width: 400px;
    height: 50px;
    color: rgb(254, 133, 3);
    font-weight: 400;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
